{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('security_logout') }}">Logout</a>
    {% endif %}

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox">
        <input id="checkboxForgotpassword" type="checkbox" name="_remember_me">
        <label for="checkboxForgotpassword" class="m-0">Remember me</label>
    </div>

    <div class="mb-2">
        <a class="forgot_password_text" href="{{ path('resetting_forgot') }}">Forgot password</a>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">Login</button>
</form>
{% endblock %}
