<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="jumbotron">
            <div class="container d-flex justify-content-between align-items-center">
                <h1 class="display-3">Hairdress Salon</h1>
                <div>
                    {% if app.user %}
                        <p><img src="" alt=""> | <a href="{{ path('security_logout') }}">Logout</a></p>
                    {% else %}
                        <p><a href="{{ path('security_login') }}">Login</a> | <a href="{{ path('security_register') }}">Register</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
