<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('ReservationApp') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Copse&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/file.css">
            <link rel="stylesheet" href="/css/selection.css">
            <link rel="stylesheet" href="/css/master.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="jumbotron p-4">
                <div class="container d-flex justify-content-between align-items-center">
                    <h1 class="display-3"><a href="{{ path('home') }}">Hairdress Salon</a></h1>
                    <div>
                        {% if app.user %}
                            <p><a href="{{ path('profil_index') }}"><img width="30px" height="30px" style="border-radius: 50%;" src="/img/avatar/{{ app.user.avatar }}" alt="{{ app.user.firstName }}"></a> | <a href="{{ path('security_logout') }}">Logout</a></p>
                        {% else %}
                            <p><a href="{{ path('security_login') }}">Login</a> | <a href="{{ path('security_register') }}">Register</a></p>
                        {% endif %}
                    </div>
                </div>
                <nav class="nav justify-content-center">
                <a class="nav-link" href="{{ path('reservation_index') }}">Reservation</a>
                <a class="nav-link" href="{{ path('staff_index') }}">Staff</a>
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </nav>
            </div>
        </header>
        <div id="body" class="container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="jumbotron">
                <div class="container d-flex justify-content-between align-items-center">
                    <p><i class="far fa-copyright" aria-hidden="true"></i> 2019 Jérôme Farin</p>
                    <div id="sharing">
                        <a href=""><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href=""><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('ReservationApp') }}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/js/static/file.js"></script>
            <script src="/js/static/selection.js"></script>
            <script src="https://kit.fontawesome.com/4ff6956e6d.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
